<!DOCTYPE html>
<html lang="fr">
  <head th:replace="~{template.html :: head(title=${request.name})}"></head>
  <body>
    <div th:replace="~{template.html :: toasts}"></div>

    <div th:replace="~{template.html :: header}"></div>

    <aside id="sidebar" class="sidebar" th:replace="~{template.html :: sidebar}"></aside>

    <main id="main" class="main">
      <div class="pagetitle" th:replace="~{template.html :: breadcrumb(label1='Types des séances', link1='/types-seances', label=${request.name})}"></div>
      <section class="section">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <h5 class="card-title" th:text="${typeSeance.getName()}"></h5>
                  <span class="badge text-bg-warning ms-2" th:if="${typeSeance.updatedAt != null}">
                    Modifié
                  </span>
                </div>

                <form method="post" th:action="@{/types-seances/{id}(id=${request.id})}" th:object="${request}">
                  <div class="row mb-3">
                    <label for="nom-type-seance-input" class="col-sm-2 col-form-label">
                      Nom <b>*</b>
                    </label>
                    <div class="col-sm-10">
                      <input id="nom-type-seance-input"
                        type="text"
                        th:field="*{name}"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="alias-type-seance-input" class="col-sm-2 col-form-label">
                      Alias <b>*</b>
                    </label>
                    <div class="col-sm-10">
                      <input id="alias-type-seance-input"
                        type="text"
                        class="form-control"
                        th:field="*{alias}"
                        required
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save me-2"></i>
                        Modifier
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
    <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
    <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
    <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/assets/js/main.js}"></script>
  </body>
</html>
